@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


h1, h2, h3, h4, h5, h6 {
    font-family: 'Anton', sans-serif;
    font-weight: 700;
    color:#003366;   
    letter-spacing: 2px;
}

body, html {
    background-image: url(./images/wave_bckgrnd.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;   
    height: 100vh; 
    min-height: 100vh; 
}

.grid-container {
    display: grid;
    grid-template-rows: auto 1fr auto; 
}

p, span {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    color:#003366;
    line-height: 2;
    font-size: 1.2em;
}

hr {
    background: #003366;
}

.text-box {
    background-color: white;
    padding: 10px;
}

.results-box {
    background-color: white;
    padding: 10px;
    height: 300px;
    scroll-behavior: smooth;
    overflow: scroll;
}


